---
layout: base
title: Tricotez pour l'Atelier du Tricot
description: Vous aimeriez être payé pour tricoté ? Rejoignez notre équipe de tricoteuses expérimentées. Le moyen le plus simple pour se faire payer pour tricoter.
---

{% include page_header.html active=3 %}
<main class="page-content">
  <div class="container">
    <h1>
      Vous adorez tricoter ?<br>
      Vous aimez réaliser de beaux produits ?<br>
      Rejoignez notre équipe de passionnées&nbsp;!
    </h1>
    <section class="font-weight-bold bg-light p-2 mb-4">
      <p class="mt-0">L’Atelier du Tricot est un groupe de tricoteuses passionnées qui aiment
      tricoter et créer.</p>
      <p>Nous réalisons de magnifiques tricots pour&nbsp;:</p>
      <ul class="list list-unstyled list-long">
        <li>Des créateurs qui cherchent une solution simple, rapide et créative</li>
        <li>Des particuliers qui ont envie d’un modèle unique mais qui ne
        savent pas à qui s’adresser</li>
        <li>La marque ADT&nbsp;: <a href="https://adt-paris.fr/">adt-paris.fr</a></li>
      </ul>
    </section>
    <div class="bottle bottle-left-handed mb-4">
      <div class="bottle-cap">
        <img src="{% link assets/julia-reymann.jpg %}" alt="Julia Reymann" style="object-position: 40% 15%;">
      </div>
      <div class="bottle-body text-align-justify">
        <p>ADT est une marque de vêtements pour femme créée en 2019 par la styliste Julia Reymann.</p>
        <p>Nous fabriquons des pulls, des écharpes et des bonnets tricotés à la main.</p>
        <p>Nos modèles sont des créations originales, dans un style actuel et délicat. Tous nos produits ont un positionnement haut-de-gamme et seront vendus sur site notre site Internet.</p>
        <p>Toutes nos matières sont choisies pour leur provenance et leur production responsable. Nos fournisseurs, français, travaillent dans le respect de l’environnement et des animaux.</p>
      </div>
    </div>
    <section class="my-4">
      <h2 class="bg-primary">Qui cherchons-nous&nbsp;?</h2>
      <div class="bg-light p-2 text-align-justify">
        <p>Nous recrutons de nouvelles passionnées ayant du temps à consacrer au tricot et de très bonnes connaissances techniques.<p>
        <p>Vous devez être capable de tricoter avec régularité, rigueur et soin. Vous devez avoir le souci du détail et l’amour du travail bien fait.</p>
        <p>Nous savons que tricoter est très long ; c’est pour cela que nous vous laissons un mois pour réaliser un pull. La vitesse d’exécution n’est pas le plus important pour nous ; ce qui compte c’est la qualité du travail et le plaisir que vous y prenez.</p>
        <img class="img-float-left" src="{% link assets/point-de-mure-laine-fonty-felletin.jpg %}" alt="Tricot point de mûre, laine Fonty Felletin">
        <p>Pour travailler avec nous, vous devrez respecter rigoureusement une fiche technique. Les fiches sont très détaillées et faciles à suivre, mais si vous avez la moindre interrogation, il faudra nous contacter. C’est très important car nous ne pouvons pas vendre un modèle qui n’est pas conforme à la fiche technique.</p>
        <p>Le travail à main ce n’est pas comme le travail à la machine ou le tricot industriel.
        Nous le savons et nous acceptons les imperfections tant qu’elles ne dénaturent
        pas le modèle, qu’il reste commercialisable et en accord avec la fiche technique.</p>
        <p>Vous devrez faire attention à travailler dans un endroit propre et sans odeur qui
  pourrait imprégner la laine (comme le tabac ou l’encens). Vous devrez également
  éloigner vos animaux de compagnie de ne pas mettre des poils dans la laine (en
    particulier pour les chats car de nombreuses personnes sont allergiques).</p>
      </div>
    </section>

    <h2>Comment ça marche ?</h2>
    <div class="border-primary p-2 clearfix text-align-justify">
      <p>C’est très simple&nbsp;: vous tricotez et c’est tout. Nous nous occupons de tout le reste.<p>
      <p>Voilà comment se passe la réalisation d’un tricot&nbsp;:</p>
      <ol class="list list-unstyled list-long">
        <li>Avant de commencer un tricot, nous vous envoyons un email avec la fiche technique d’un modèle. Ainsi, vous pouvez vérifier que le travail et la rémunération vous conviennent. La rémunération est fonction du modèle ; nous payons les mêmes tarifs pour toutes nos passionnées.
        </li>
        <li>Avant de vous lancer, n’oubliez d’allouer le temps nécessaire à la réalisation ; assurez-vous de pouvoir tricoter pendant cette période.</li>
        <li>Une fois que vous acceptez le travail, nous expédions directement chez vous&nbsp;: la laine, la fiche technique et l’emballage pour le colis de retour.</li>
        <li>Quand vous avez fini, vous nous contactez et nous vous envoyons le bon de retour à imprimer et à coller sur le colis pour le transport.</li>
        <li>Enfin, vous nous transmettez votre facture. Nous réglons rapidement par chèque ou virement.</li>
      </ol>
      <img class="img-float-right" src="{% link assets/sacs-de-laine.jpg %}" alt="Laine Pole Fonty, rose. Mohair et soie, moutarde. Mohair écru des Fermes de France.">
      <p>Important&nbsp;: Vous devez être en mesure d’émettre une facture avec un numéro
SIRET ; vous aurez donc besoin d’avoir le statut d’auto-entrepreneur. Si vous n’avez
pas encore ce statut, il vous suffit de faire la demande sur <a href="https://www.autoentrepreneur.urssaf.fr">autoentrepreneur.urssaf.fr</a>&nbsp;; cela ne prend que quelques minutes.</p>
  <p>Que se passe-t-il si vous n’arrivez pas à réaliser le tricot ? Vous nous contactez et nous
trouverons un arrangement, ne vous inquiétez pas. Dans le pire des cas, vous nous
  renvoyez le résultat (même incomplet) et la laine restante ; c’est tout.</p>
    </div>

    <h2>Comment postuler ?</h2>
    <div class="text-align-justify">
      <p>
        Prête pour rejoindre l’aventure ?
      <p>
      <p>
        Écrivez à <a href='ma&#105;lto&#58;&#114;%6&#53;%6A%6F&#105;gne%7&#65;&#37;2D&#110;ou%&#55;3&#64;atelier&#100;u&#116;&#114;icot&#46;com'>&#114;ejoi&#103;n&#101;&#122;&#45;nous&#64;&#97;t&#101;l&#105;&#101;rdutric&#111;&#116;&#46;com</a> et attachez quelques photos de vos plus belles créations. N’oubliez pas de nous communiquer vos nom, numéro de téléphone et adresse ; nous en aurons besoin pour vous envoyer les colis.
    </p>
    <p>
      À réception de votre email, nous vous contacterons pour convenir avec vous d’un modèle d'essai.
    </p>
    <p>
      N’hésitez pas à nous contacter si vous avez besoin de plus d’information.
    </p>
    <p>
      Rappel&nbsp;: Vous devrez avoir le statut d’auto-entrepreneur pour pouvoir émettre une facture. Vous n’êtes pas obligée d’avoir le statut pour postuler, mais il vous sera nécessaire pour de future mission.
      </p>
    </p>

    <img class="img-centered" src="{% link assets/ordinateur-portable-sur-un-bureau.jpg %}" alt="Ordinateur portable sur bureau">

    <div class="border-light text-align-center my-4 mx-md-4 py-2">
      <p class="font-weight-bold mt-0">Pour plus de renseignements n’hésitez pas à nous contacter&nbsp;:</p>
      <a class="btn btn-primary text-truncate" href='ma&#105;lto&#58;&#114;%6&#53;%6A%6F&#105;gne%7&#65;&#37;2D&#110;ou%&#55;3&#64;atelier&#100;u&#116;&#114;icot&#46;com'>&#114;ejoi&#103;n&#101;&#122;&#45;nous&#64;&#97;t&#101;l&#105;&#101;rdutric&#111;&#116;&#46;com</a>
    </div>
  </div>
</main>
{% include footer.html %}
