---
layout: base
title: Tricot à la demande pour les créateurs
description: Créateurs, notre service de tricot à la demande réalise des pièces sans minimum de quanitité.
---

{% include page_header.html active=1 %}
<main class="page-content">
  <div class="container">
    <h1>Vous êtes créateur, vous voulez réaliser un modèle en tricot et vous ne savez pas à qui vous adresser&nbsp;?</h1>
    <div class="bottle bottle-right-handed mb-4">
      <div class="bottle-cap">
        <img src="{% link assets/gamme-de-couleur-fonty.jpg %}" alt="Gamme de couleur de laine Fonty">
      </div>
      <div class="bottle-body p-2 bg-light font-weight-bold">
        <p>Ce service est fait pour vous&nbsp;:</p>
        <ul class="list-unstyled list list-long">
          <li>Nous proposons la laine</li>
          <li>Nous nous chargeons de la fiche technique</li>
          <li>Nous avons un groupe de passionnées extrêmement compétentes pour tricoter vos produits.</li>
          <li>Nous n'imposons pas de quantité minimum.</li>
        </ul>
      </div>
    </div>
    <div class="bottle bottle-left-handed mb-4">
      <div class="bottle-cap">
        <img style="object-position: 50% top;" src="{% link assets/ghislaine-jaunet-et-julia-reymann.jpg %}" alt="Ghislaine Jaunet et Julia Reymann">
      </div>
      <div class="bottle-body p-2 border-light">
        <p>Nous proposons un service de tricot sur demande. Nous vous assistons sur toutes vos démarches.</p>
        <p>Nous vous accompagnons jusqu’à la réalisation de votre modèle.</p>
        <p>Nous produisons pour 1, 2, 10 ou 50 pièces.
        Nous n’avons pas de minimum&nbsp;!</p>
        <p>Nous tricotons à la main ou en machine familiale, ce qui nous laisse une
        grande flexibilité.</p>
      </div>
    </div>
    <div class="bottle bottle-right-handed mb-4">
      <div class="bottle-cap">
        <img src="{% link assets/fiche-technique.jpg %}" alt="Fiche technique pull ADT Agathe, mohair, tricoté main">
      </div>
      <div class="bottle-body p-2 bg-light font-weight-bold">
        <p>Notre expertise :</p>
        <ul class="list-unstyled list list-long">
          <li>Des tricoteuses qualifiées à travers la France.</li>
          <li>Une mise au point de vos fiches techniques pour garantir un modèle standardisé au maximum.</li>
          <li>Un accompagnement sur le choix de laine, des points et des solutions techniques.</li>
        </ul>
      </div>
    </div>
    <h1>Vous pouvez laisser libre court à votre créativité.<br>On s’occupe du reste&nbsp;!</h1>

    <div class="bottle bottle-left-handed mb-4">
      <div class="bottle-cap">
        <img src="{% link assets/pull-adt-esmee-rouge.jpg %}" alt="Pull ADT Esmée rouge, laine Mérinos, tricoté à la main">
      </div>
      <div class="bottle-body p-2 border-primary">
        <p>Retrouver notre savoir-faire sur le site <a href="https://adt-paris.fr/">ADT</a></p>
        <p>N’oubliez pas : avec notre service, vous avez aussi la possibilité de communiquer sur un produit Français, réaliser avec une production responsable&nbsp;!</p>
      </div>
    </div>

    <div class="border-light text-align-center my-4 mx-md-4 py-2">
      <p class="font-weight-bold mt-0">Pour plus de renseignements n’hésitez pas à nous contacter :</p>
      <a class="btn btn-primary" href='mailto&#58;%6&#68;o&#110;-pr%&#54;Fj%65%&#55;4&#64;&#97;telie&#114;d&#37;75&#116;%72&#105;%63ot&#46;co%6D'>mon-proj&#101;&#116;&#64;at&#101;li&#101;&#114;dutricot&#46;c&#111;m</a>
    </div>
  </div>
</main>
{% include footer.html %}
