---
layout: base
title: Tricot à la demande pour les particuliers
description: Vous cherchez une personne qui tricote? Vous voulez faire tricoter un pull? Notre service de tricot à la demande vous trouve une tricoteuse expérimentée.
---

{% include page_header.html active=2 %}
<main class="page-content">
  <div class="container">
    <h1>Vous cherchez à faire réaliser un modèle<br>
    mais vous ne savez pas à qui le confier.<br>
    Nous vous trouvons la perle&nbsp;!</h1>
    <div class="bg-light p-2 font-weight-bold text-align-justify">
      <p>
      Vous avez vu un modèle qui vous plaît, vous avez un patron mais pas le temps de le tricoter ou pas les connaissances&nbsp;; notre service est là pour ça&nbsp;:</p>
      <div class="list">
        <p>Nous avons un réseau de tricoteuses passionnées à travers la France.</p>
        <p>Nous nous chargeons de l’achat de la laine.</p>
        <p>Nous pouvons aussi vous proposer un modèle fait pour vous, unique, qui s’adapte à vos envies et à vos mesures&nbsp;!</p>
      </div>
    </div>

     <img class="img-centered my-4" src="{% link assets/pull-adt-agathe-blanc.jpg %}" alt="Pull ADT Agathe blanc, laine Mohair de Chevreaux, tricoté à la main">

    <div class="border-light text-align-center my-4 mx-md-4 py-2">
      <p class="font-weight-bold mt-0">Pour plus de renseignements n’hésitez pas à nous contacter&nbsp;:</p>
      <a class="btn btn-primary" href='m&#97;i&#108;t&#111;&#58;mon-t&#114;i%63ot&#64;&#97;&#37;&#55;&#52;%&#54;5lie%72d%&#55;5trico%74&#46;co%6D'>mon-trico&#116;&#64;&#97;tel&#105;&#101;r&#100;utr&#105;&#99;ot&#46;com</a>
    </div>
  </div>
</main>
{% include footer.html %}
