#error-page {
  background-color: $brand-color;
  color: white;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .brand-logo {
    height: 200px;
    margin: 0 auto;
    display: block;
  }
}
